body{  
    font-family: Calibri, Helvetica, sans-serif;  
    background:yellow ;  
    background-size: cover;
    background-position: center;
    
  }  

  .HOME{
    font-size: x-large;
    text-decoration: none;
    padding-left: 45%;
    color: red;
  }
  
  .Hel{
    padding: 10%;
    color: red;
    font-size: xx-large;

  }

  .Con{
    width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
  }
  
  .Login{
  padding-left: 50%;
  color: red;
  }

  .FO-{
    color: blue;
  }

  .FO__{
    color: red;
  }
  
  .FO_{
    color: red;
    font-size:xx-large;
  }

  .FO{
      color: red;
  }
  
  .FOR{
    font-size: x-large;
      color: red;
  }
  
  .container {  
    border: double red;
    padding: 50px; 
    background-color: transparent;  
    padding-top: 5%;
    padding-left:32%;
    padding-right: 32%;
  }  
    
  input[type=text], input[type=password], textarea {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
  }  
  
  input[type=text]:focus, input[type=password]:focus {  
    background-color:aquamarine;  
    outline: none;  
  }  
   div {  
        padding: 10px 0;  
           } 
  
  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  
  
  .registerbtn {  
    background-color: red;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  
  .registerbtn:hover {  
    opacity: 1;  
  }  